.main-sideBar-body{
    position: relative;
}

.sideBar-body{
    width: 15rem;
}

.second-sideBar{
    background-color: rgba(0, 255, 255, 0.227);
    display: none;
    width: 15rem;
    height: 100vh;
    position: absolute;
    top: 0%;
}

.category{
    margin:0.4rem 0.5rem;
    border: 1px solid;
    padding: 0.5rem;
    text-align: start;
    cursor: pointer;
}