.App {
  text-align: center;
  position: relative;
}

a{
  text-decoration: none;
  color: black;
}

.added{
  position: absolute;
  top: 13%;
  right: 4%;
  z-index: 2;
  background-color: rgba(54, 231, 172, 0.844);
  padding: 0.3rem 3rem;
  border-radius: 0.2rem;
  border: 2px solid rgb(5, 94, 21);
  font-weight: bold;
}

@media only screen and (max-width: 690px) {
  .sideBar-body{
    display: none !important;
  }

  .fa-bars{
    display: block !important;
  }
}



